<h1> RESULTS </h1>

<table>
  <%= for {_origin, alt, minutes} <- @response do %>
    <tr>
      <td><%= minutes %> minutes to <%= get_place_name(alt) %></td>
    </tr>
  <% end %>
</table>

<%= link "Search Again!!!", to: Routes.search_path(@conn, :new) %>
