<h1> RESULTS </h1>

<table>
  <%= for {name, minutes} <- @response do %>
    <tr>
      <td><%= minutes %> minutes to <%= name %></td>
    </tr>
  <% end %>
</table>

<%= link "Search Again!!!", to: Routes.search_path(@conn, :new) %>
